@import 'reset';

@import 'variables';

@import 'mixins';

$doctorBlue: #1C67A6;

body {
    font-family: ProximaNovaReg, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
}

h1 {
  color: #333;
  font-size: 50px;
}

h4 {
  color: #fff;
  font-size: 25px;
  padding: 10px;
}

p {
  padding: 10px;
}

a {
    text-decoration: none;
}

a, a:visited {
    color: rgb(84, 180, 210);
    font-size: 25px;
}

a:hover {
    color: rgb(51,159,192);
}

th {
    text-align: left;
    font-size: 15px;
}

td, th {
  padding-right: 20px;
}

li {
  margin: 10px 0;
}

.header {
  padding: 10px;
}

.title-search-wrapper {
    width: 100%;
    display: block;
    margin: 10px auto;
    text-align: center;
}

.search-box {
    width: 75%;
    padding: 5px;
    display: block;
    margin: 10px auto;
    border-radius: 2px;
    height: 5%;
    font-size: 15px;
}

.content-placeholder {
  font-size: 5rem;
}

.search-button {

    padding: 5px;
    width: 37.5%;
    height: 5%;
    border-radius: 2px;
    cursor: pointer;
    font-size: 15px;
}

#app {
  padding:2rem;
}

.docimg {
  border-radius: 50%;
  float: left;
}

.doc-distance {
  color: #000;
  font-weight: bold;
}

.doc-bio {
  color: #fff;
}

.doc-specialties {
  color: #fff;
}

img {
  padding: 10px;
}

.xbutton {
  color:white;
  margin-left: 45rem;
  clear:auto;
  position: relative;
  z-index: 2
}

.xbuttonanimation {
  color:gray;
      animation: fadein 8s;
      -moz-animation: fadein 8s; /* Firefox */
      -webkit-animation: fadein 8s; /* Safari and Chrome */
      -o-animation: fadein 8s; /* Opera */
  }
  @keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-moz-keyframes fadein { /* Firefox */
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-o-keyframes fadein { /* Opera */
      from {
          opacity:0;
      }
      to {
          opacity: 1;
      }
  }

  .api-data { 
    background: rgba(28, 103, 166, .85);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: inherit;
  }

  @media screen only and (min-width: 767px) {
    .api-data {
      width: 1%;
    }
  }
 
  .info {
    z-index: 2;
    background-color: rgba(255, 255, 255, 1);
    backface-visibility: visible;
    animation: animationFrames ease 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: animationFrames ease 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation: animationFrames ease 1s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation: animationFrames ease 1s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation: animationFrames ease 1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode:forwards; /*IE 10+*/
  }

  @keyframes animationFrames{
    0% {
      opacity:0;
      transform:  translate(0px,0px)  ;
    }
    100% {
      opacity:1;
      transform:  translate(0px,-135px)  ;
    }
  }

  @-moz-keyframes animationFrames{
    0% {
      opacity:0;
      -moz-transform:  translate(0px,-25px)  ;
    }
    100% {
      opacity:1;
      -moz-transform:  translate(0px,0px)  ;
    }
  }

  @-webkit-keyframes animationFrames {
    0% {
      opacity:0;
      -webkit-transform:  translate(0px,0px)  ;
    }
    100% {
      opacity:1;
      -webkit-transform:  translate(0px,-25px)  ;
    }
  }

  @-o-keyframes animationFrames {
    0% {
      opacity:0;
      -o-transform:  translate(0px,0px)  ;
    }
    100% {
      opacity:1;
      -o-transform:  translate(0px,-25px)  ;
    }
  }

  @-ms-keyframes animationFrames {
    0% {
      opacity:0;
      -ms-transform:  translate(0px,0px)  ;
    }
    100% {
      opacity:1;
      -ms-transform:  translate(0px,-25px)  ;
    }
  }
